<section class="section">
  <div class="container">
    <h2 class="title has-text-link-dark">Details on This of Code Coach</h2>

    <p>
      <img src="https://picsum.photos/id/237/350/200" alt="Coding Coaches">
    </p>

    <p>userdetail works!</p>
    <p class="subtitle">Learn to code.  We will help!</p>
    <a class="button is-success">User Details</a>

    <p>Practice / kata portfolio for a volunteer computer &amp; tech Code and Programming Coaches Registry to freely assist career changers and teens seeking to learn programming and web development.  Built using an Angular and Bulma CSS front-end, supported by a Node.js, and Express backend built on a JSON Placeholde REStful API.  Some assets consumed from RandomUser.me API.</p>

    <p><i class="fa-solid fa-thumbs-up fa-3x"></i> </p>
  </div>
</section>
